<h1>VIEW PROFILE</h1>

<p>Name: <%=@player.name%></p>
<p>Decks:</p>
<ul>
<% for deck in @player.decks %>
<li><a href="/decks/<%=deck.id%>"><%=deck.name%></a></li>
<% end %>
</ul>


<p><a href="/decks/new/<%=@player.id%>">New Deck</a></p>

<p>Games:</p>
<ul>
<% for game in @player.games %>
<% if @player.id == game.status.to_i %>
  <li><a href="/games/<%=game.id%>"><%=game.date%></a> | Win</li>
<% else %>
  <li><a href="/games/<%=game.id%>"><%=game.date%></a> | Loss</li>
<% end %>
<% end %>
</ul>

<p><a href="/players">Back</a></p>
