<div class="player_1_details">
  <div class="p1_name_details"><img src="<%=@player.avatar%>" alt=""><%=@player.name%></div>
</div>

<div class="player_deck_content">
  <p>Decks</p>
  <table>
    <% for deck in @player.decks %>
    <tr>
      <td><%=deck.name%></td>
      <td><a href='/decks/<%=deck.id%>'>View</a></td>
      <td><a href="/decks/<%=deck.id%>/delete">Delete</a></td>
    </tr>
    <% end %>
    </table>
  </div>

  <div class="player_games_content">
    <p>Games Played</p>
    <table>


      <% for game in @player.games %>
      <% if game.player1_id == @player.id %>
      <% opponent_id = game.player2_id %>
      <% else %>
      <% opponent_id = game.player1_id %>
      <% end %>
      <% opponent = Player.find(opponent_id) %>
      <% if @player.id == game.status.to_i %>
      <tr>
        <td><%=game.date%></td>
        <td><%=opponent.name%></td>
        <td>Win</td>
      </tr>
      <% elsif game.status.to_i == 0 %>
      <tr>
        <td><%=game.date%></td>
        <td><%=opponent.name%></td>
        <td>Draw</td>
      </tr>
      <% else %>
      <tr>
        <td><%=game.date%></td>
        <td><%=opponent.name%></td>
        <td>Loss</td>
      </tr>
      <% end %>
      <% end %>
    </table>

  </div>

  <div class="select"><a href="/decks/new/<%=@player.id%>">New Deck</a><a href="/players">Back</a></div>
