<h1>VIEW DECK</h1>

<p>Name: <%=@deck.name%></p>
<p>Cards: </p>

<ul>
  <% for card in @cards %>
    <li><a href="/cards/<%=card.id%>"><%=card.name%></a></li>
  <% end %>
</ul>

<% if @deck.card_count < 10 %>
<p><a href="/decks/<%=@deck.id%>/add">Add Card</a></p>
<% end %>

<p><a href="/players/<%=@deck.player_id%>">Back</a></p>
