<h1>Play</h1>

<p>Game:</p>
<p>ID: <%=@game.id%></p>
<p>Date: <%=@game.date%></p>
<p>Status: <%=@game.status%></p>

<p>Player 1:</p>
<p>Name: <%=@player1.name%></p>
<p>Deck: <%=@player1_deck.name%></p>
<p>Health: <%=@game.player1_health%></p>
<p>Power: <%=@game.player1_power%></p>
<p>Hand: <%=@game.player1_hand%></p>

<p>Player 2:</p>
<p>Name: <%=@player2.name%></p>
<p>Deck: <%=@player2_deck.name%></p>
<p>Health: <%=@game.player2_health%></p>
<p>Power: <%=@game.player2_power%></p>
<p>Hand: <%=@game.player2_hand%></p>
